<div class="page-footer black">
  <div class="container">
    <div class="row white-text">
      <div class="col s8">
        Kevin Leung - This site was built using Angular, MaterializeCSS, and Material Design Icons.
      </div>
      <div class="col s4 white-text">
        <div class="row">
          <a class="white-text footer-icon right" href="https://github.com/kevinleung987" target="_blank"><i class="mdi mdi-github-circle"></i>
          </a>
          <a class="white-text footer-icon right" href="https://www.linkedin.com/in/kevin-leung987/" target="_blank"><i
              class="mdi mdi-linkedin"></i>
          </a>
          <a class="white-text footer-icon right" href="mailto:kevin.leung987@outlook.com" target="_top"><i class="mdi mdi-email"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
