<div class="projects section parallax-container">
  <div class="container section">
    <div class="row grey-text text-lighten-3">
      <div class="section-header">
        Projects
      </div>
    </div>
    <div class="row content grey-text text-lighten-3 center">
      <p>Just some of the side projects that I've worked on recently. GitHub links are provided for any open-source
        project of mine listed.</p>
    </div>
    <div class="row">
      <div class="col s12 l3">
        <div class="card">
          <div class="card-image">
            <img class="materialboxed" src="assets/electrontools.jpg">
          </div>
          <div class="card-content">
            <span class="card-title">EVE Electron Tools</span>
            <p>Desktop application built using ElectronJS to bundle a web app made in Angular, Bootstrap
              and NodeJS. Aggregates data through various RESTful APIs and models the data visually.</p>
          </div>
          <div class="card-action">
            <div class="chip">Angular</div>
            <div class="chip">Bootstrap</div>
            <div class="chip">NodeJS</div>
            <div class="chip">ElectronJS</div>
            <div class="chip">TypeScript</div>
          </div>
          <div class="card-action">
            <a class="left">Active</a>
            <a href="https://github.com/kevinleung987/eve-electron-tools">GitHub</a>
          </div>
        </div>
      </div>
      <div class="col s12 l3">
        <div class="card">
          <div class="card-image">
            <img class="materialboxed" src="assets/node.png">
          </div>
          <div class="card-content">
            <span class="card-title">Ishtar</span>
            <p>Dockerized chat-bot for the messaging platform Discord. The backend is
              written in NodeJS with persistent storage handled by MongoDB and the user-facing frontend is written in
              Python. Continuous Integration is handled by Travis CI which runs automated testing, builds and deploys
              the Docker image.</p>
          </div>
          <div class="card-action">
            <div class="chip">Docker</div>
            <div class="chip">NodeJS</div>
            <div class="chip">MongoDB</div>
            <div class="chip">Python</div>
            <div class="chip">Travis</div>
            <div class="chip">RESTful</div>
          </div>
          <div class="card-action">
            <a class="left">Active</a>
            <a href="https://github.com/kevinleung987/ishtar">GitHub</a>
          </div>
        </div>
      </div>
      <div class="col s12 l3">
        <div class="card">
          <div class="card-image">
            <img class="materialboxed" src="assets/warden.jpg">
          </div>
          <div class="card-content">
            <span class="card-title">Warden</span>
            <p>Customizable image recognition tool written in Python using Google Tesseract and
              Pillow to to enable recognition and classification of
              important UI elements.</p>
          </div>
          <div class="card-action">
            <div class="chip">Python</div>
            <div class="chip">Image Recognition</div>
          </div>
          <div class="card-action">
            <a href="https://github.com/kevinleung987/EVE-Warden">GitHub</a>
          </div>
        </div>
      </div>
      <div class="col s12 l3">
        <div class="card">
          <div class="card-image">
            <img class="materialboxed" src="assets/tagger.jpg">
          </div>
          <div class="card-content">
            <span class="card-title black-text">Java Image Tagger</span>
            <p>Local image tagging GUI made in Java using JavaFX. Collaborative project with other
              students.</p>
          </div>
          <div class="card-action">
            <div class="chip">Java</div>
            <div class="chip">JavaFX</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/pattern2.jpg"></div>
</div>
