<div class="skills section-box orange darken-4 white-text">
  <div class="container section">
    <div class="row">
      <div class="section-header">
        Skills
      </div>
    </div>
    <div class="row">
      <div class="content">
        Below are some of the languages, tools, and frameworks that I'm most experienced with. Click on any of them to
        see a brief description. For a full listing of what I'm familiar with, please refer to my Resume.
      </div>
    </div>
    <div class="row">
      <!-- First column of skills -->
      <div class="col s12 m4">
        <ul class="collapsible black-text">
          <li>
            <div class="collapsible-header"><i class="mdi mdi-language-python"></i>Python</div>
            <div class="collapsible-body white">
              <p>Comfortable with Python, I constantly use it for courses and side projects.</p>
              <p>It's my language of choice for prototyping or scripts that are too verbose for Bash. </p>
              <p>For example, I developed a Python script to automate a team member's data parsing task during my
                internship at RBC.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-language-java"></i>Java</div>
            <div class="collapsible-body white">
              <p>Confident with Object-Oriented programming and design.</p>
              <p>I'm familiar with the Spring framework for Java and have used it to develop RESTful backend
                services.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-language-javascript"></i>Javascript</div>
            <div class="collapsible-body white">
              <p>Skilled at using Javascript for manipulating the browser DOM and using it for server-side code in
                NodeJS.</p>
              <p>I'm proficient with Typescript and most of my recent projects utilize Javascript in some form.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-language-cpp"></i>C/C++</div>
            <div class="collapsible-body white">
              <p>Adept with lower level development through C/C++.</p>
              <p>Currently taking course in Operating System fundamentals.</p>
              <p>Exposure to writing kernel modules and other low-level code.</p>
              <p>Familiar with CPU architectures, code compilation, etc.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-database"></i>Databases</div>
            <div class="collapsible-body white">
              <p>Proficient with Relational and NoSQL database systems. Adept at writing SQL queries.</p>
              <p>I have experience in the following Relational/NoSQL DBMS: PostGreSQL, MySQL, MongoDB, and Redis.</p>
            </div>
          </li>
        </ul>
      </div>
      <!-- Second column of skills -->
      <div class="col s12 m4">
        <ul class="collapsible black-text">
          <li>
            <div class="collapsible-header"><i class="mdi mdi-language-html5"></i>HTML</div>
            <div class="collapsible-body white">
              <p>Adept at templating with HTML, with work experience developing web pages around a spec provided
                by UI designers.</p>
              <p>This website was developed without the use of any pre-built templates.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-language-css3"></i>CSS</div>
            <div class="collapsible-body white">
              <p>Comfortable with various CSS libraries like Bootstrap and MaterializeCSS.</p>
              <p>Familiar with SCSS/Sass pre-processing frameworks for CSS.</p>
              <p>Experienced in developing beautiful, Responsive pages.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-angular"></i>Angular</div>
            <div class="collapsible-body white">
              <p>Highly experienced in developing web pages using Angular 2+.</p>
              <p>Work experience developing web pages in Angular at RBC. Several of my newer side projects
                utilize Angular for the front-end.</p>
              <p>Currently building a desktop application using ElectronJS to bundle an Angular front-end with NodeJS
                back-end.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-react"></i>React</div>
            <div class="collapsible-body white">
              <p>Currently learning React on the side and taking 2 courses that utilize React.</p>
              <p>Working on a large team-based project utilizing React.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-nodejs"></i>NodeJS</div>
            <div class="collapsible-body white">
              <p>Experienced with developing back-end web services in NodeJS.</p>
              <p>Proficient in several popular NodeJS frameworks like ExpressJS and MeteorJS</p>
              <p>Several of my side projects use NodeJS to power the back-end.</p>
              <p>Currently building a desktop application using ElectronJS to bundle an Angular front-end with NodeJS
                back-end.</p>
            </div>
          </li>
        </ul>
      </div>
      <!-- Third column of skills -->
      <div class="col s12 m4">
        <ul class="collapsible black-text">
          <li>
            <div class="collapsible-header"><i class="mdi mdi-console"></i>Bash</div>
            <div class="collapsible-body white">
              <p>Very comfortable in Command-Line-Interface environments and Linux/Unix-based systems.</p>
              <p>Experienced in developing Bash scripts to automate tasks.</p>
              <p>Developed a build automation script in Bash for Jenkins while at RBC.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-git"></i>Git</div>
            <div class="collapsible-body white">
              <p>Experienced in working with multiple developers in a team on a large code-base.</p>
              <p>Familiar with standard practices for collaborative development like Pull Requests.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-docker"></i>Docker</div>
            <div class="collapsible-body white">
              <p>Knowledgeable with containerization and other cloud technologies.</p>
              <p>Currently using Docker for containerization in my Ishtar project.</p>
              <p>My personal home-server currently runs a half-dozen Docker containers for applications like Plex Media
                Server and Jenkins.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-developer-board"></i>DevOps</div>
            <div class="collapsible-body white">
              <p>Experienced in Continuous Integration tools like Jenkins and Travis.</p>
              <p>Skilled in build/test automation and automated deployment.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="mdi mdi-teach"></i>Agile Development</div>
            <div class="collapsible-body white">
              <p>Well-acquainted with Agile development methods.</p>
              <p>Experienced in working in a Agile team utilizing Scrum and Continuous Integration.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
