<div class="experience section-box blue-grey darken-4 white-text">
  <div class="container section">
    <div class="row">
      <div class="section-header">
        Experience
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="row job-company">
          Royal Bank of Canada
        </div>
        <div class="row job-title">
          Full Stack Developer Intern
        </div>
        <div class="row job-info">
          <i class="mdi mdi-map-marker"></i> Toronto, Ontario<br>
          <i class="mdi mdi-calendar-range"></i> May 2018 - September 2018<br>
          <i class="mdi mdi-wrench"></i>
          <div class="chip">Angular</div>
          <div class="chip">Bootstrap</div>
          <div class="chip">Java</div>
          <div class="chip">Spring Boot</div>
          <div class="chip">Jenkins</div>
          <div class="chip">Cloud</div>
          <div class="chip">Microservice Architecture</div>
        </div>
        <div class="row ">
          <div class="slider">
            <ul class="slides">
              <li>
                <img src="assets/bcas-team2.jpg">
                <div class="caption center-align">
                  <h5 class="shaded-background light grey-text text-lighten-3">BCAS
                    Team during morning standup.</h5>
                </div>
              </li>
              <li>
                <img src="assets/bcas-team.jpg">
                <div class="caption center-align black-text">
                  <h5 class="shaded-background light grey-text text-lighten-3">BCAS
                    team donating school supplies to children in need.</h5>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m8">
        <div class="row">
          <ul class="browser-default job-details">
            <li>Developed Full Stack Web Applications using Angular 6 and Java Spring Boot.</li>
            <li>Embedded in the Business Credit Application Service Agile team utilizing Scrum and Continuous
              Integration.</li>
            <li>Worked on the development of a business-facing web application targetting for small business clients of
              RBC. The application is currently live in production.</li>
            <li>Built responsive, interactive, client-facing web pages using Bootstrap and Angular, facilitated
              application platform upgrade from Angular 5 to 6, retooled application build automation working with
              Jenkins and Bash build scripts.</li>
            <li>Developed RESTful back-end microservices in Java Spring Boot.</li>
            <li>Utilized DevOps Continuous Integration and Cloud platform tools like Jenkins, Urban Code Deploy, Cloud
              Foundry and IBM Bluemix to build and deploy applications.</li>
            <li>Participated in Digital Innersource to help overhaul the web presence for a non-profit organization.</li>
            <li>Competed in RBC Summer Hack with a team of other students.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
