@import '../../styles.scss';

.job-company {
  font-size: 2.5em;
}

.job-title {
  font-size: 2em;
}

.job-info {
  font-size: 1.5em;
}

.job-info .chip {
  margin-left: 5px;
}

.job-details {
  font-size: 1.25em;
}

@media only screen and (min-width: 601px) {
  .job-details {
    padding-left: 5em;
  }
}

.job-details li {
  padding-top: 1em;
  padding-bottom: 1em;
}

.job-images {
  width: 20em;
  height: 10em;
}

.shaded-background {
  background: rgba(1, 1, 1, 0.5);
}
