<div class="about section-box blue-grey white-text">
  <div class="container section">
    <div class="row">
      <div class="section-header">
        About Me
      </div>
    </div>
    <div class="row">
      <div class="col s12 l5">
        <div class="center">
          <img class="profile-pic" src="assets/profilepic.jpg">
        </div>
        <div class="row center">
          <div class="profile-info">
            <i class="mdi mdi-map-marker"></i> Toronto, Ontario<br>
            <i class="mdi mdi-school"></i> University of Toronto<br>
            <i class="mdi mdi-book-open-page-variant"></i> Computer Science<br>
            <i class="mdi mdi-calendar-range"></i> 2016-2020 (Expected)
          </div>
          <a class="btn-large blue-grey darken-4 tooltipped" data-position="bottom" data-tooltip="Click here to view my Resume"
            href="./assets/KevinLeung.pdf" target="_blank" style="width:50%;" onclick="gtag('event', 'Resume Click')">
            Resume
            <i class="mdi mdi-download" style="font-size: 1em;"></i>
          </a>
        </div>
      </div>
      <div class="col s12 l7 content">
        <p>Hey there! I'm a third-year student studying Computer Science at the University of Toronto.
          I am enrolled in the Specialist stream for Computer Science.</p>
        <p>Currently seeking a 4-month or 16-month Software Engineering/Developer internship starting in
          Summer 2019 OR a 12-month term starting in Fall 2019.</p>
        <p>I love challenging work and am an enthusiastic learner. I enjoy working on complex problems,
          and I'm not afraid to explore beyond my comfort zone.</p>
        <p>I'm very passionate about technology, and love to frequent sites like YCombinator to stay up to date about
          the latest advancements and trends in Software Development.</p>
        <p>Currently residing in Canada where I was born and have lived my whole life. I'm an avid gamer, in my
          off-time I love to read, play the Saxophone and work on side projects which you can find on my GitHub page.</p>
        <p>You can find links to my GitHub, LinkedIn, or Email in the section above, in the Navigation Bar or in the
          Footer at the bottom.</p>
      </div>
    </div>
  </div>
</div>
