<div class="parallax-container section grey-text text-lighten-3">
  <div class="container">
    <div class="row center">
      <h1>Welcome!</h1>
    </div>
    <div class="row center">
      <h2>I'm Kevin Leung,</h2>
    </div>
    <div class="row center">
      <h4>A Computer Science student at the University of Toronto</h4>
    </div>
    <div class="row center">
      <a class="grey-text text-lighten-3 title-icon tooltipped" data-position="bottom" data-tooltip="GitHub" href="https://github.com/kevinleung987"
        target="_blank" onclick="gtag('event', 'GitHub Click')"><i class="mdi mdi-github-circle"></i>
      </a>
      <a class="grey-text text-lighten-3 title-icon tooltipped" data-position="bottom" data-tooltip="LinkedIn" href="https://www.linkedin.com/in/kevin-leung987/"
        target="_blank" onclick="gtag('event', 'LinkedIn Click')"><i class="mdi mdi-linkedin"></i>
      </a>
      <a class="grey-text text-lighten-3 title-icon tooltipped" data-position="bottom" data-tooltip="Email" href="mailto:kevin.leung987@outlook.com"
        target="_top"><i class="mdi mdi-email"></i>
      </a>
    </div>
  </div>
  <div class="parallax"><img src="assets/pattern.jpg"></div>
</div>
